{% extends 'base.html' %}
{% block content %}
<section class="container mt-5 h-100 d-flex flex-column justify-content-center align-content-center">
    <h1 class="display-1">Django CRUD App</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dolores deserunt laboriosam sequi
        eveniet,
        minima ipsum veniam commodi molestias tempora voluptas minus quos expedita qui velit deleniti in atque.
        Beatae
        excepturi minus inventore voluptatibus vitae fuga ad aut eum atque architecto tempore consequuntur voluptas,
        nulla
        placeat. Nobis sequi suscipit labore cumque! Placeat officia repudiandae dolor velit qui earum tempora, quos
        incidunt? Totam corporis illo excepturi quaerat mollitia eligendi voluptatum natus libero autem a quo
        adipisci,
        eius
        ratione quia. Recusandae unde blanditiis modi officiis, quibusdam itaque ratione ad reiciendis vero nulla
        veniam
        commodi cumque qui rerum delectus? Velit sed consequuntur consequatur?
    </p>
</section>
{% endblock %}