{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Sign up</h2>
            <form method="POST" class="card card-body">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1">Password</label>
                    <input type="password" id="password1" name="password1" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirm password</label>
                    <input type="password" id="password2" name="password2" class="form-control">
                </div>
                <button class="btn btn-primary">Sign up</button>
            </form>
            <p class="text-danger">
                {{error}}
            </p>
        </div>
    </div>
</main>
{% endblock %}